<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Andrzej Kierepka!">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-warning text-center">
				Formularz osobowy
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<form role="form" th:action="@{/author/relationAdd}"
                    method="get">
				<div class="form-group">
					<label for="name">
						Wybierz autora
					</label>
					   <select  name="idAuthor" id="idObject" class="form-control">
                                <option th:each="author  : ${authors}" th:value="${author.id}" th:text="${author.name} +' '+${author.surName}">Dostawca</option>
                        </select>
                        <input type=hidden th:value="${id}" name="idBook"></input>  
				</div>
				<button type="submit" class="btn btn-primary">
					Dodaj
				</button>
			</form>
			</div>
					<div class="col-md-4">
					<a href="/">Powrót</a>
		</div>
		</div>

</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>